body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.form {
  border: 2px solid grey;
  border-radius: 34px;
  background-color: #ffffffd9;
}
.create {
  background-image: linear-gradient(90deg, #4bffcf 6%, #009185 46%);
}
#input {
  border: none;
  border-bottom: 2px solid #00ebd7;
  background-color: transparent;
}
#input:focus {
  border-bottom: 2px solid #4b00fa;
  outline: 0 !important;
}
#textarea {
  background-color: #ffffffd9;
  border: 2px solid #00ebd7;
  width: 100%;
}
.button-ext,
.button_ext {
  text-align: center;
  border: 2px solid rgb(224, 39, 70);
  background-color: pink;
  font-weight: bold;
}
.button-nxt,
.button_nxt {
  text-align: center;
  border: 2px solid green;
  background-color: lightgreen;
  font-weight: bold;
}
.button-lgi {
  text-align: center;
  border: 2px solid darkblue;
  background-color: rgb(145, 151, 236);
  font-weight: bold;
}
@media (min-width: 300px) and (max-width: 575px) {
  body {
    font-size: 15px;
  }
  .form {
    margin: auto;
    width: 85%;
  }
}
@media (min-width: 300px) and (max-width: 388px) {
  .buttons {
    display: block !important;
  }
  .button-ext,
  .button-lgi {
    width: 93%;
    margin-left: 3%;
    margin-top: -5% !important;
  }
  .img {
    width: 13% !important;
  }
}
/*                    LANDING PAGE                */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto", sans-serif;
}
#hero {
  background-image: linear-gradient(180deg, #4bffcf 16%, #20beb1 46%, #076961);
  color: black;
}
hr {
  width: 15%;
  margin: auto;
}
a button {
  border-radius: 24px;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: rgb(26, 24, 24) !important;
  color: white !important;
}
#about {
  display: none;
}
.text_about {
  background-image: url(./assets/LOGO.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #462323dc;
  background-blend-mode: multiply;
  color: white !important;
  width: 100%;
  padding: 6% 8% !important;
  text-align: center;
}
.image {
  padding: 3.8% 0 !important;
}
#banner-main {
  display: block;
}
#banner-res {
  display: none;
  background-image: url(./assets/Common/Boost.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #14193fd2;
  background-blend-mode: darken;
  color: white !important;
}
.span_banner {
  color: #00ebd7 !important;
}
img {
  border-radius: 34px;
}
#banner {
  background-color: #e5ece4;
}
#icons {
  font-size: 45px;
}
.instagram {
  color: rgb(182, 33, 58);
}

@media (min-width: 300px) and (max-width: 575px) {
  #hero {
    width: 80%;
    margin: auto;
  }
  #h1_hero {
    margin-top: 5% !important;
    padding: 2% !important;
  }
  #p_hero {
    margin: 0 !important;
    padding-top: 0 !important;
  }
  #about,
  #banner-res {
    display: block;
  }
  #about-main,
  #banner-main {
    display: none;
  }
  .card {
    padding: 2% 4% !important;
  }
  .space {
    padding: 0 !important;
  }
  .responsive {
    width: 80% !important;
  }
  #p_footer {
    font-size: 18px !important;
    padding: 0 !important;
  }
  #section1 {
    display: none;
  }
  #section2 {
    width: 100%;
  }
  #banner-res h2 {
    padding: 5% !important;
  }
  #a_footer {
    margin: 0 3% !important;
    padding: 2% !important;
  }
  #copyright {
    font-size: 15px !important;
  }
  #last {
    padding: 0 5% !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #hero {
    width: 80%;
    margin: auto;
  }
  .img_hero {
    width: 80%;
    margin: auto;
  }
  #h1_hero {
    margin-top: 5% !important;
    padding: 2% !important;
  }
  #p_hero {
    margin: 0 !important;
    padding-top: 0 !important;
  }
  .title {
    font-size: 20px !important;
    padding: 0 !important;
  }
  .img4 {
    margin-top: 14% !important;
  }
  .text {
    font-size: 15px !important;
  }
  #about,
  #banner-main {
    display: block;
  }
  #about-main,
  #banner-res {
    display: none;
  }
  #banner-main h2 {
    font-size: 20px !important;
  }
  .card {
    padding: 2% 4% !important;
  }
  .space {
    padding: 0 !important;
  }
  .responsive {
    width: 100% !important;
  }
  #p_footer {
    font-size: 18px !important;
    padding: 0 !important;
  }
  #a_footer {
    margin: 0 3% !important;
    padding: 2% !important;
  }
  #copyright {
    font-size: 15px !important;
  }
  #last {
    padding: 0 5% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #h1_hero {
    margin-top: 5% !important;
    padding: 2% !important;
    font-size: 30px !important;
  }
  #p_hero {
    margin: 0 !important;
    padding-top: 0 !important;
  }
  #about-main .text1 {
    font-size: 15px !important;
  }
  .title {
    font-size: 24px !important;
    padding: 2% !important;
  }
  .text {
    font-size: 18px !important;
  }
  #banner-main h2 {
    font-size: 20px !important;
  }
  .card {
    padding: 2% 4% !important;
  }
  .space {
    padding: 0 !important;
  }
  .responsive {
    width: 100% !important;
  }
  #p_footer {
    font-size: 18px !important;
    padding: 0 !important;
  }
  #a_footer {
    margin: 0 3% !important;
    padding: 2% !important;
  }
  #copyright {
    font-size: 15px !important;
  }
  #last {
    padding: 0 5% !important;
  }
  #section1 {
    padding: 2% 4% !important;
  }
}

/*                        ABOUT US PAGE                 */

#mission {
  background-image: url(./assets/Common/banner.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.774);
  background-blend-mode: darken;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 575px) {
  .about_image {
    display: none;
  }
  #about-us-text {
    width: 100% !important;
    padding: 0 8% !important;
    margin-top: 6% !important;
    text-align: center !important;
  }
  #mission {
    display: block !important;
    height: 420px !important;
  }
  #mission-1,
  #mission-2 {
    width: 100% !important;
    padding: 0 !important;
  }
  #mission-1 {
    padding-top: 7% !important;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .about_image {
    display: none;
  }
  #about-us-text {
    width: 100% !important;
    padding: 0 8% !important;
    margin-top: 6% !important;
  }
}
